{{!-- Ejercicio 13. Agregar el redireccionamiento a about --}}

{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Imagen de Fondo</h1>
        <p>
            Algo de información xD
        </p>
    </div>
    <div class= "col-4">
        <img src="./assets/img/imgfondo.jpg" class="img-thumbnail" />
    </div>
</div>

{{> footer }}